$font-family-Montserrat: 'Montserrat', Helvenetiva, Arial, sans-serif;
$color-clouds: #ecf0f1;
$color-silver: #bdc3c7;
$color-midnight: #2c3e50;
$color-asbestos: #7f8c8d;
$color-pomegranate: #c0392b;
$color-alizarin: #e74c3c;